# loss

In [9]:
import pandas as pd
import numpy as np

In [13]:
tl_df = pd.read_csv('/home/chy/dev-bench/auto-catch/epoch2.loss')

In [14]:
tl_df.info()
tl_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202666 entries, 0 to 202665
Data columns (total 1 columns):
loss    202666 non-null float64
dtypes: float64(1)
memory usage: 1.5 MB

                loss
count  202666.000000
mean        3.955254
std         7.431898
min         0.000000
25%         0.740000
50%         1.900000
75%         4.320000
max       259.010000

In [27]:
tl_df

         loss
0        2.19
1        9.67
2        9.72
3        2.65
4        2.42
5        8.50
6        1.93
7        1.50
8        3.47
9        0.06
10       2.01
11       4.00
12      15.10
13       2.37
14       6.38
15       0.95
16       3.09
17       2.84
18       0.19
19      10.71
20       0.53
21       2.95
22       0.62
23       1.62
24       3.76
25       2.19
26       4.21
27       4.43
28       7.96
29       4.57
...       ...
202636   7.31
202637   1.29
202638   0.40
202639   4.77
202640   0.82
202641   2.85
202642   0.74
202643   0.00
202644   0.13
202645  19.90
202646   5.21
202647   4.61
202648   1.27
202649   2.07
202650   0.96
202651   0.85
202652   0.78
202653   2.86
202654   1.53
202655   2.15
202656   5.52
202657   0.54
202658   1.42
202659   1.45
202660  19.66
202661   1.08
202662   2.42
202663   0.41
202664   1.90
202665   0.88

[202666 rows x 1 columns]

In [28]:
dist = tl_df.apply(np.sqrt, axis=1)

In [30]:
dist

            loss
0       1.479865
1       3.109662
2       3.117691
3       1.627882
4       1.555635
5       2.915476
6       1.389244
7       1.224745
8       1.862794
9       0.244949
10      1.417745
11      2.000000
12      3.885872
13      1.539480
14      2.525866
15      0.974679
16      1.757840
17      1.685230
18      0.435890
19      3.272614
20      0.728011
21      1.717556
22      0.787401
23      1.272792
24      1.939072
25      1.479865
26      2.051828
27      2.104757
28      2.821347
29      2.137756
...          ...
202636  2.703701
202637  1.135782
202638  0.632456
202639  2.184033
202640  0.905539
202641  1.688194
202642  0.860233
202643  0.000000
202644  0.360555
202645  4.460942
202646  2.282542
202647  2.147091
202648  1.126943
202649  1.438749
202650  0.979796
202651  0.921954
202652  0.883176
202653  1.691153
202654  1.236932
202655  1.466288
202656  2.349468
202657  0.734847
202658  1.191638
202659  1.204159
202660  4.433960
202661  1.039230
202662  1.555635
202663  0.640312
202664  1.378405
202665  0.938083

[202666 rows x 1 columns]

In [31]:
dist.describe()

                loss
count  202666.000000
mean        1.624911
std         1.146702
min         0.000000
25%         0.860233
50%         1.378405
75%         2.078461
max        16.093788